[class^="icon-"], [class*=" icon-"] {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	/* fix buttons height */
	line-height: 1em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
}

.icon-quote-right {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe815;&nbsp;');
}

.icon-search {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe80c;&nbsp;');
}

.icon-mail {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe80e;&nbsp;');
}

.icon-camera {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe80f;&nbsp;');
}

.icon-menu {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe818;&nbsp;');
}

.icon-download {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe81b;&nbsp;');
}

.icon-print-1 {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe817;&nbsp;');
}

.icon-docs {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe809;&nbsp;');
}

.icon-book-open {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe813;&nbsp;');
}

.icon-phone {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe810;&nbsp;');
}

.icon-up-open-mini {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe80b;&nbsp;');
}

.icon-globe {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe812;&nbsp;');
}

.icon-briefcase {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe808;&nbsp;');
}

.icon-umbrella {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe814;&nbsp;');
}

.icon-flickr {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe805;&nbsp;');
}

.icon-vimeo {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe806;&nbsp;');
}

.icon-twitter {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe800;&nbsp;');
}

.icon-facebook {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe801;&nbsp;');
}

.icon-gplus {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe802;&nbsp;');
}

.icon-pinterest {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe803;&nbsp;');
}

.icon-linkedin {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe804;&nbsp;');
}

.icon-dribbble {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe807;&nbsp;');
}

.icon-star-filled {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe80d;&nbsp;');
}

.icon-print {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe816;&nbsp;');
}

.icon-location {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe811;&nbsp;');
}

.icon-link {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe819;&nbsp;');
}

.icon-graduation-cap {
	*zoom: expression(this.runtimeStyle [ 'zoom' ] = '1', this.innerHTML = 
		'&#xe80a;&nbsp;');
}