@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?34344678');
	src: url('../font/fontello.eot?34344678#iefix')
		format('embedded-opentype'), url('../font/fontello.woff?34344678')
		format('woff'), url('../font/fontello.ttf?34344678')
		format('truetype'), url('../font/fontello.svg?34344678#fontello')
		format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?34344678#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-quote-right:before {
	content: '\e815';
} /* '' */
.icon-search:before {
	content: '\e80c';
} /* '' */
.icon-mail:before {
	content: '\e80e';
} /* '' */
.icon-camera:before {
	content: '\e80f';
} /* '' */
.icon-menu:before {
	content: '\e818';
} /* '' */
.icon-download:before {
	content: '\e81b';
} /* '' */
.icon-print-1:before {
	content: '\e817';
} /* '' */
.icon-docs:before {
	content: '\e809';
} /* '' */
.icon-book-open:before {
	content: '\e813';
} /* '' */
.icon-phone:before {
	content: '\e810';
} /* '' */
.icon-up-open-mini:before {
	content: '\e80b';
} /* '' */
.icon-globe:before {
	content: '\e812';
} /* '' */
.icon-briefcase:before {
	content: '\e808';
} /* '' */
.icon-umbrella:before {
	content: '\e814';
} /* '' */
.icon-flickr:before {
	content: '\e805';
} /* '' */
.icon-vimeo:before {
	content: '\e806';
} /* '' */
.icon-twitter:before {
	content: '\e800';
} /* '' */
.icon-facebook:before {
	content: '\e801';
} /* '' */
.icon-gplus:before {
	content: '\e802';
} /* '' */
.icon-pinterest:before {
	content: '\e803';
} /* '' */
.icon-linkedin:before {
	content: '\e804';
} /* '' */
.icon-dribbble:before {
	content: '\e807';
} /* '' */
.icon-star-filled:before {
	content: '\e80d';
} /* '' */
.icon-print:before {
	content: '\e816';
} /* '' */
.icon-location:before {
	content: '\e811';
} /* '' */
.icon-link:before {
	content: '\e819';
} /* '' */
.icon-graduation-cap:before {
	content: '\e80a';
} /* '' */